<main>
  <section class="spotlight">
    <h2 class="spotlight__header">
      <span class="spotlight__header--prefix">Media Spotlight</span>
      <a class="spotlight__link-to" href="/works/593">Harry Potter and the Sorcerer's Stone</a> by J.K. Rowling
    </h2>
    <p class="spotlight__description">
      27 votes - An orphaned boy enrolls in a school of wizardry, where he learns the truth about himself, his family and the terrible evil that haunts the magical world.
    </p>
  </section>

<hr class="root__hr">

<section class="top-ten__container">
  <section class="top-ten__list-container">
  <h2 class="top-ten__header">
    Top Movies
  </h2>
  <ul class="list-group top-ten__list">
      <li class="list-group-item">
        <h4>
          <a href="/works/593">Harry Potter and the Sorcerer's Stone</a>
          <small class="top-ten__creator">by J.K. Rowling</small>
        </h4>
        <p>27 votes</p>
      </li>
      <li class="list-group-item">
        <h4>
          <a href="/works/595">volleyball</a>
          <small class="top-ten__creator">by </small>
        </h4>
        <p>5 votes</p>
      </li>
  </ul>
  <!-- <a href="/works.movies">View More Movies</a> -->
</section>

  <section class="top-ten__list-container">
  <h2 class="top-ten__header">
    Top Books
  </h2>
  <ul class="list-group top-ten__list">
      <li class="list-group-item">
        <h4>
          <a href="/works/592">Huggy Star</a>
          <small class="top-ten__creator">by Nigel Lesch DVM -0</small>
        </h4>
        <p>5 votes</p>
      </li>
  </ul>
  <!-- <a href="/works.books">View More Books</a> -->
</section>

  <section class="top-ten__list-container">
  <h2 class="top-ten__header">
    Top Albums
  </h2>
  <ul class="list-group top-ten__list">
      <li class="list-group-item">
        <h4>
          <a href="/works/571">Kreb-Full-o Been ! </a>
          <small class="top-ten__creator">by Ms. Trevion Buckridge</small>
        </h4>
        <p>11 votes</p>
      </li>
  </ul>
  <!-- <a href="/works.albums">View More Albums</a> -->
  </section>

</section>

</main>